.jumbotron
	%h1
		= "Today's Lunch Spot -> #{@lunch_spot.name}!"

%h2 
	If you visited this restaurant today, please indicate this
	by checking the box below, and submitting your response to
	the database.

.well
	%form{:action => "visited", method: "post"}
		= hidden_field_tag :authenticity_token, form_authenticity_token
		= hidden_field_tag :restaurant_id, @lunch_spot.id
		%input{name: "visited", type: "checkbox", value: "visited"}
		%label.visited{:for => "visited" } Visited
		%br
		%br
		%input.btn.btn-primary{:type => "submit", :value => "Submit"}