%h4
	Fill out the form below to add a new restaurant to the database
%br

= form_for @restaurant, url: {action: "create"}, html: {class: "form"} do |f|
	%h4 Restaurant Name:
	= f.text_field :name
	%br
	%br
	= f.submit "Submit", class: "btn btn-primary"